<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Belajar Baca</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div id="app" class="container-fluid">
        <div class="row">
            <ul id="caption">
                <li v-for="part in caption" v-bind:class="{active: part.active}">{{ part.text }}</li>
                <!-- <li>ma</li>
                    <li class="active">ta</li>
                    <li>ha</li>
                    <li>ri</li> -->
            </ul>
        </div>
        <div class="row">
            <div id="btnGroup">
                <button id="btnReadCaption" class="btn btn-lg btn-primary" v-on:click="readCaption()" disabled="true"><i
                        class="fa fa-volume-up"></i> Baca
                </button>
                <button id="btnChangeImage" class="btn btn-lg btn-primary" v-on:click="changeImage()" disabled="true"><i
                        class="fa fa-refresh"></i> Ganti
                </button>
            </div>
        </div>
        <div class="row">
            <transition name="fade">
                <img id="mainImg" v-bind:src="currentImage" v-if="imageShown">
            </transition>
        </div>
    </div>

    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>