html, body, #app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#mainImg {
    width: auto;
    max-width: 900px;
    max-height: 500px;
}

ul#caption {
    text-align: center;
    font-size: 3em;
}

ul#caption > li {
    display: inline;
}

ul#caption > li.active {
    color: red;
}

ul#caption > li:after {
    content: "-";
    margin: 0 5px;
    color: #212529;
}

ul#caption > li:last-child:after {
    content: none;
    margin-left: 10px;
}

#contentContainer {
    text-align: center;
}